body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: 100px;
    background-color: hsl(0, 12%, 28%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    flex: 1;
    position: relative;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}

.title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.title {
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}

.button-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    padding: 10px 20px;
    background-color: #d87818b2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    height: 100px;
    background-color: #3a1f1f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}